@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Press+Start+2P&display=swap');



#gridPane{
    -fx-background-color: #18276e;
    -fx-font-family: 'Paytone One', sans-serif;
    -fx-font-size:20px;
    -fx-font-fill:white;
}
.table-row-cell {
    -fx-text-background-color: white;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: transparent;
}

.table-row-cell :odd {
    -fx-background-color: #0a6a9f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell :even {
    -fx-background-color: #320575;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

#title{
    -fx-font-family: 'Press Start 2P';
    -fx-font-size:55px;
}

* {
    -fx-font-size: 16;
}

.table-row-cell :hover {
    -fx-background-color: #8aa9a5;
}

.button{
    -fx-font-family: 'Paytone One', sans-serif;
    -fx-text-transform: uppercase;
    -fx-font-size:24px;
    -fx-background-color: #2e4c8d;
}

.button:hover{
    -fx-background-color: #203665;
}

