@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Press+Start+2P&display=swap');

#gridPane{
    -fx-background-color: #18276e;
    -fx-font-family: 'Paytone One', sans-serif;
    -fx-font-size:24px;
}

#gridPane #title{
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-font-size: 60px;
    -fx-stroke: black, 20px;
}


.button{
    -fx-font-family: 'Paytone One', sans-serif;
    -fx-text-font:12px;
    -fx-white-space: normal;
    -fx-word-wrap: break-word;
    -fx-text-transform: uppercase;
    -fx-background-color: #2e4c8d;
}


.text-field{
    -fx-font-family: 'Paytone One', sans-serif;

}

.progress-bar {
    -fx-accent: rgba(0, 138, 230, 0.85);
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

#questionContent{
    -fx-font-family: 'Paytone One', sans-serif;

}

#questionType{
    -fx-font-family: 'Paytone One', sans-serif;
}


#pointsNum, #questionNum, #points{
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-font-size:12px;
}

#questionNum{
    -fx-font-size:10px;
}



#answer{
    -fx-font-size:12px;
}

#hint{
    -fx-font-size:6px;
    -fx-font-family: 'Press Start 2P', cursive;
}
